<% content_for :css do %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.2.0/css/all.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,700" %>
  <%= stylesheet_link_tag "controls" %>
  <%= stylesheet_link_tag "widgets" %>
  <%= stylesheet_link_tag "visualization" %>
  <%= stylesheet_link_tag "TimelineHeatmap" %>
  <%# stylesheet_link_tag "feed" %>
<% end %>

<% content_for :js do %>
  <script>
  // Matched city, if it is a participating city
  var at_city = JSON.parse('<%= @city %>');
  // values from latLng, obtained from GPS (or a default of PGH)
  var at_latitude = <%= @latitude %>;
  var at_longitude = <%= @longitude %>;
  // the zoom level to use for the map
  var at_zoom = <%= @zoom %>;
  // the client id of the current user
  var at_client_id = <%= @client_id %>;
  // the client id (indicating smell pgh, bay area, or smell my city)
  var app_id_smellpgh = <%= CLIENT_ID_SMELLPGH %>;
  var app_id_smellpghwebsite = <%= CLIENT_ID_SMELLPGHWEBSITE %>;
  var app_id_ba = <%= CLIENT_ID_BA %>;
  var app_id_smellmycity = <%= CLIENT_ID_SMELLMYCITY %>;
  var app_id_smellmycitywebsite = <%= CLIENT_ID_SMELLMYCITYWEBSITE %>;
  // List of cities participating in Smell My City
  var at_participating_cities = JSON.parse('<%= @cities %>');
  </script>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=geometry&key=#{GOOGLE_MAPS_API_KEY}" %>
  <%= javascript_include_tag "https://momentjs.com/downloads/moment.min.js" %>
  <%= javascript_include_tag "https://momentjs.com/downloads/moment-timezone-with-data.min.js" %>
  <%= javascript_include_tag "array-map-set-polyfill.min" %>
  <%= javascript_include_tag "postmessage" %>
  <%= javascript_include_tag "googleAnalytics" %>
  <%= javascript_include_tag "widgets" %>
  <%= javascript_include_tag "visualization" %>
  <%= javascript_include_tag "TimelineHeatmap" %>
  <%= javascript_include_tag "CustomMapMarker" %>
  <%= javascript_include_tag "AnimateCustomMapMarker" %>
  <%= javascript_include_tag "infobox" %>
  <%# javascript_include_tag "feed" %>
<% end %>

<% content_for :body do %>
  <div id="page" data-role="page" class="noselect">
    <div id="map-container">
      <div id="map"></div>
      <button id="home-btn" title="Home" class="custom-button-flat"><img src="/img/home.png"><span></span></button>
      <button id="calendar-btn" title="Calendar" class="custom-button-flat"><img src="/img/calendar.png"></button>
      <button id="terrain-btn" title="Terrain mode" class="custom-button-flat"><img src="/img/terrain.png"></button>
      <button id="playback-btn" title="Playback animation" class="custom-button-flat"><img src="/img/play.png"></button>
      <button id="stop-btn" title="Stop animation" class="custom-button-flat"><img src="/img/stop.png"></button>
      <div id="playback-txt"></div>
      <table id="legend-smell-value">
        <tr>
          <td id="entry-title" colspan="1">Date:</td>
          <td id="selected-day" colspan="5"></td>
        </tr>
        <tr>
          <td class="entry-title">Smell:</td>
          <td class="smell-color-td smell-color-1"></td>
          <td class="smell-color-td smell-color-2"></td>
          <td class="smell-color-td smell-color-3"></td>
          <td class="smell-color-td smell-color-4"></td>
          <td class="smell-color-td smell-color-5"></td>
        </tr>
        <tr>
          <td class="entry-title">PM<sub>2.5</sub>:</td>
          <td class="smell-color-td PM25-color-1"></td>
          <td class="smell-color-td PM25-color-2"></td>
          <td class="smell-color-td PM25-color-3"></td>
          <td class="smell-color-td PM25-color-4"></td>
          <td class="smell-color-td PM25-color-5"></td>
        </tr>
        <tr class="voc-legend-row">
          <td class="entry-title">VOC:</td>
          <td class="smell-color-td voc-color-1"></td>
          <td class="smell-color-td voc-color-2"></td>
          <td class="smell-color-td voc-color-3"></td>
          <td class="smell-color-td voc-color-4"></td>
          <td class="smell-color-td voc-color-5"></td>
        </tr>
        <tr>
          <td class="entry-title">Wind:</td>
          <td colspan="5" class="wind-arrow-td wind-arrow"></td>
        </tr>
        <tr class="aqi-tr">
          <td colspan="4" class="entry-title"><span class="aqi-city"></span> AQI:</td>
          <td colspan="2" class="aqi-td"></td>
        </tr>
      </table>
	    <div id="report-feed" style="width:30px;height:30px;padding-top: 4px;padding-left: 4px;padding-right: 4px;padding-bottom: 4px;bottom: 24px;border-radius: 23px;opacity: 0.75;"class="custom-button ui-icon-custom-feed noselect" )></div>
    </div>
    <div id="timeline-container" class="noselect"></div>
    <div id="timeline-handle" class="noselect"></i><span>Daily Smell Ratings</span></div>
    <div id="calendar-dialog" title="Calendar" data-role="none">
      <p>Select a date to jump to in the bottom timeline:</p>
      <input type="hidden" autofocus="autofocus" />
      <select id="calendar" data-role="none"></select>
    </div>
    <div id="home-dialog" title="Region" data-role="none">
      <p>Select a region to explore:</p>
      <input type="hidden" autofocus="autofocus" />
      <select id="home" data-role="none"></select>
    </div>
  </div>
<% end %>
