<% content_for :css do %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,700" %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD2nqIondaBl-YWGlaD_mo1L0w3j2yvehQ" %>
<% end %>

<% content_for :body do %>
  <div id="page" data-role="page" class="noselect">
    <div id="map-container">
      <div id="map"></div>
      <div id="home-btn" class="custom-button ui-icon-custom-home"></div>
      <div id="calendar-btn" class="custom-button ui-icon-custom-calendar"></div>
      <table id="legend-smell-value">
        <tr>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Smell</td>
          <td class="smell-color-td smell-color-1"></td>
          <td class="smell-color-td smell-color-2"></td>
          <td class="smell-color-td smell-color-3"></td>
          <td class="smell-color-td smell-color-4"></td>
          <td class="smell-color-td smell-color-5"></td>
        </tr>
        <tr>
          <td>PM<sub>2.5</sub></td>
          <td class="smell-color-td sensor-color-1"></td>
          <td class="smell-color-td sensor-color-2"></td>
          <td class="smell-color-td sensor-color-3"></td>
          <td class="smell-color-td sensor-color-4"></td>
          <td class="smell-color-td sensor-color-5"></td>
        </tr>
        <tr>
          <td>Wind</td>
          <td colspan="5" class="wind-arrow-td wind-arrow"></td>
        </tr>
      </table>
    </div>
    <div id="timeline-container" class="noselect">
      <table id="timeline">
        <tr id="timeline-index"></tr>
        <tr id="timeline-date"></tr>
      </table>
    </div>
    <div id="calendar-dialog" title="Calendar" data-role="none">
      <p id="calendar-description">Select a month to jump to the starting date of the month.</p>
      <select id="calendar" data-role="none">
        <option selected>Select a month</option>
      </select>
      <button id="dialog-ok-button">Ok</button>
    </div>
  </div>
<% end %>
