<% content_for :css do %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,700" %>
  <%= stylesheet_link_tag "visualization" %>
  <%= stylesheet_link_tag "FlatBlockChart" %>
  <%# stylesheet_link_tag "feed" %>
<% end %>

<% content_for :js do %>
  <script>
  // values from latLng or from the first region that contains the latLng
  var at_latitude = <%= @regions.empty? ? @latitude : @regions.first.latitude %>;
  var at_longitude = <%= @regions.empty? ? @longitude : @regions.first.longitude %>;
  // the reverse-geocoded zipcode for this lat/lng
  var at_zipcode = <%= @zipcode.nil? ? "null" : @zipcode %>;

  // the zoom level to use for the map
  var at_zoom = <%= @regions.empty? ? @zoom : @regions.first.zoom_level %>;

  // List of regions and their associated ids
  var at_region_ids = <%= @regions.map(&:id).to_json %>;
  </script>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD_2PNa78sp_7BoCqZbGpWXviLBzHbJZv4" %>
  <%= javascript_include_tag "es6-shim.min" %>
  <%= javascript_include_tag "googleAnalytics" %>
  <%= javascript_include_tag "visualization" %>
  <%= javascript_include_tag "FlatBlockChart" %>
  <%= javascript_include_tag "CustomMapMarker" %>
  <%= javascript_include_tag "infobox" %>
  <%# javascript_include_tag "feed" %>
<% end %>

<% content_for :body do %>
  <div id="page" data-role="page" class="noselect">
    <div id="map-container">
      <div id="map"></div>
      <div id="home-btn" title="Home view" class="custom-button ui-icon-custom-home noselect"></div>
      <div id="calendar-btn" title="Calendar" class="custom-button ui-icon-custom-calendar noselect"></div>
      <div id="terrain-btn" title="Terrain mode" class="custom-button ui-icon-custom-terrain noselect"></div>
      <div id="playback-btn" title="Playback animation" class="custom-button ui-icon-custom-play noselect"></div>
      <div id="stop-btn" title="Stop animation" class="custom-button ui-icon-custom-stop noselect"></div>
      <div id="playback-txt"></div>
      <table id="legend-smell-value">
        <tr>
          <td id="entry-title" colspan="1">Date:</td>
          <td id="selected-day" colspan="5"></td>
        </tr>
        <tr>
          <td class="entry-title">Smell:</td>
          <td class="smell-color-td smell-color-1"></td>
          <td class="smell-color-td smell-color-2"></td>
          <td class="smell-color-td smell-color-3"></td>
          <td class="smell-color-td smell-color-4"></td>
          <td class="smell-color-td smell-color-5"></td>
        </tr>
        <tr>
          <td class="entry-title">PM<sub>2.5</sub>:</td>
          <td class="smell-color-td PM25-color-1"></td>
          <td class="smell-color-td PM25-color-2"></td>
          <td class="smell-color-td PM25-color-3"></td>
          <td class="smell-color-td PM25-color-4"></td>
          <td class="smell-color-td PM25-color-5"></td>
        </tr>
        <tr class="voc-legend-row">
          <td class="entry-title">VOC:</td>
          <td class="smell-color-td voc-color-1"></td>
          <td class="smell-color-td voc-color-2"></td>
          <td class="smell-color-td voc-color-3"></td>
          <td class="smell-color-td voc-color-4"></td>
          <td class="smell-color-td voc-color-5"></td>
        </tr>
        <tr>
          <td class="entry-title">Wind:</td>
          <td colspan="5" class="wind-arrow-td wind-arrow"></td>
        </tr>
        <tr class="aqi-tr">
          <td colspan="4" class="entry-title">Pittsburgh AQI:</td>
          <td colspan="2" class="aqi-td"></td>
        </tr>
      </table>
	  <div id="report-feed" style="width:30px;height:30px;padding-top: 4px;padding-left: 4px;padding-right: 4px;padding-bottom: 4px;bottom: 24px;border-radius: 23px;opacity: 0.75;"class="custom-button ui-icon-custom-feed noselect" )>  </div>
    </div>
    <div id="timeline-container" class="noselect"></div>
    <div id="calendar-dialog" title="Calendar" data-role="none">
      <p id="calendar-description">Select a date to jump to in the timeline.</p>
      <select id="calendar" data-role="none">
        <option selected>Select...</option>
      </select>
      <button id="dialog-ok-button">Ok</button>
    </div>
  </div>
<% end %>
