<% content_for :css do %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,700" %>
  <%= stylesheet_link_tag "visualization" %>
  <%= stylesheet_link_tag "FlatBlockChart" %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD2nqIondaBl-YWGlaD_mo1L0w3j2yvehQ" %>
  <%= javascript_include_tag "es6-shim.min" %>
  <%= javascript_include_tag "googleAnalytics" %>
  <%= javascript_include_tag "visualization" %>
  <%= javascript_include_tag "FlatBlockChart" %>
  <%= javascript_include_tag "CustomMapMarker" %>
<% end %>

<% content_for :body do %>
  <div id="page" data-role="page" class="noselect">
    <div id="map-container">
      <div id="map"></div>
      <div id="home-btn" title="Home view" class="custom-button ui-icon-custom-home noselect"></div>
      <div id="calendar-btn" title="Calendar" class="custom-button ui-icon-custom-calendar noselect"></div>
      <div id="terrain-btn" title="Terrain mode" class="custom-button ui-icon-custom-terrain noselect"></div>
      <div id="playback-btn" title="Playback animation" class="custom-button ui-icon-custom-play noselect"></div>
      <div id="stop-btn" title="Stop animation" class="custom-button ui-icon-custom-stop noselect"></div>
      <div id="playback-txt"></div>
      <table id="legend-smell-value">
        <tr>
          <td class="entry-title">Smell</td>
          <td class="smell-color-td smell-color-1"></td>
          <td class="smell-color-td smell-color-2"></td>
          <td class="smell-color-td smell-color-3"></td>
          <td class="smell-color-td smell-color-4"></td>
          <td class="smell-color-td smell-color-5"></td>
        </tr>
        <tr>
          <td class="entry-title">PM<sub>2.5</sub></td>
          <td class="smell-color-td sensor-color-1"></td>
          <td class="smell-color-td sensor-color-2"></td>
          <td class="smell-color-td sensor-color-3"></td>
          <td class="smell-color-td sensor-color-4"></td>
          <td class="smell-color-td sensor-color-5"></td>
        </tr>
        <tr>
          <td class="entry-title">Wind</td>
          <td colspan="5" class="wind-arrow-td wind-arrow"></td>
        </tr>
        <tr class="aqi-tr">
          <td colspan="4" class="entry-title">Pittsburgh AQI:</td>
          <td colspan="2" class="aqi-td"></td>
        </tr>
      </table>
    </div>
    <div id="timeline-container" class="noselect"></div>
    <div id="calendar-dialog" title="Calendar" data-role="none">
      <p id="calendar-description">Select a date to jump to in the timeline.</p>
      <select id="calendar" data-role="none">
        <option selected>Select...</option>
      </select>
      <button id="dialog-ok-button">Ok</button>
    </div>
  </div>
<% end %>
