<% content_for :css do %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.2.0/css/all.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,700" %>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" %>
<% end %>

<% content_for :body do %>
  <h2>Subscribe to BCAMP Email Notifications</h2>

  <%= form_for @subscription, :url => {action: "create"} do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit "Subscribe" %>
  <% end %>
<% end %>
