<% content_for :css do %>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.2.0/css/all.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:400,700" %>
  <style>
    body {
      padding: 20px;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }
  </style>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" %>
<% end %>

<% content_for :body do %>
  <h2>Subscribed!</h2>

  <p>You are now subscribed to receive BCAMP notifications.</p>
<% end %>
