<!DOCTYPE html>
<html>
<head>
  <title>Smell Pittsburgh</title>
  <meta name="viewport" content="initial-scale=1, user-scalable=no" />
  <%= yield :css %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :js %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield :body %>
</body>
</html>
